# Entornos virtuales y cachés de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

env/
build/
dist/
.venv/
venv/
ENV/

# Base de datos
postgres_data/
pgdata/

# Datos pesados
data/
*.csv

# Modelos
*.h5
*.pkl
*.pth

# Permitir modelos entrenados necesarios
!model_service/models/production/*.pkl
!model_service/models/experiments/*.pth
!model_service/models/experiments/*.pkl

# Archivos de entorno
.env
.env.local

# Sistema
.DS_Store
Thumbs.db